src/*.exe
src/LGBTQoin
src/LGBTQoind
src/test_LGBTQoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.LGBTQoin

# Compilation and Qt preprocessor part
*.qm
Makefile
LGBTQoin-qt
LGBTQoin-Qt.app

# Unit-tests
Makefile.test
LGBTQoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
